<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Register</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<form action="saveData" method="post">
		<h1>REGISTER HERE!!!</h1>
	
		User Name<input type="text" name="username" required><br>
		Email ID<input type="text" name="email_id" required><br>
		Mobile Number<input type="text" name="mobile_number" required><br>
		Set Password<input type="password" name="password" required><br>
		<input type="submit">
	</form>
</body>
</html>